<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "foundation", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page">
		<div class="container">
			<div id="header" class="row">
				<div class="twelve columns">
					<ul class="nav-bar">
						<li>
							<%= link_to 'Home', root_path %>
						</li>
						<li>
							<%= link_to 'Products', product_path %>
						</li>
						<li>
							<a href="/about">About</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
						<% if user_signed_in? %>
						  <% if is_admin? %>
						  	<li>
						    	<%= link_to 'Admin', rails_admin_path %>
							</li>
						  <% end %>
						<% end %>
						<li class="pull-right">
							<% if user_signed_in? %>
								<%= link_to 'Logout',
									destroy_user_session_path,
									method: :delete %>
							<% else %>
								<%= link_to 'Login',
									new_user_session_path %>
							<% end %>
						</li>
						<li id = "cart_button" class="pull-right" style="cursor: pointer;">
							<% if user_signed_in? %>
								<a>Cart</a>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<div id="main-content" style="width: 100%">
			<% if user_signed_in? %>
				<div class="row">
					<div id = "content" class="twelve columns">
						<%= yield %>
					</div>
					<div id ="cart" class="four columns" style="display: none;">
						<%= render 'cart' %>
					</div>
				</div>
			<% else %>
				<div class="row">
					<%= yield %>
				</div>
			<% end %>
		</div>
	</div>
	
	<%= javascript_include_tag "application" %>
</body>
</html>
