<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "foundation", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "foundation" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="page" class="container">
		<div id="header" class="row">
			<div class="twelve columns">
				<ul class="nav-bar">
					<li>
						<%= link_to 'Home', root_path %>
					</li>
					<li>
						<%= link_to 'Products', product_path %>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
					<li class="pull-right">
						<% if user_signed_in? %>
							<%= link_to 'Logout',
								destroy_user_session_path,
								method: :delete %>
						<% else %>
							<%= link_to 'Login',
								new_user_session_path %>
						<% end %>
					</li>
				</ul>
			</div>
		</div>
		
		<div id="main-content" class="row">
			<% if user_signed_in? %>
				<div class="row">
					<div class="eight columns">
						<%= yield %>
					</div>
					<div class="four columns">
						<%= render 'cart' %>
					</div>
				</div>
			<% else %>
				<%= yield %>
			<% end %>
		</div>
	</div>

</body>
</html>
